*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center; /* centrar de manera vertical por si se nota que esta chueco*/
    padding: 20px; /* espacio para que no este al borde de mi página*/
    background-color: #52cdfd; /* color de fondo*/
    color: white; /* color de letra*/
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #00aaff;
    color: white;
}

img{
  max-width: 100%;
  border-radius: 35px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-bottom: 20px;
}

.links-container{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.links-container a{
  background: #ffb700;
  color: #ffffff;
  padding: 10px 20px ;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.links-container a:hover{
  background: #528bfd;
  transform: translateY(-8px);
}

table{
  width: 80%;
  border-collapse: collapse;
  background: rgb(0, 166, 255);
  margin-bottom: 40px;
}

table th {
  background: #5010ff;
  color: rgb(238, 255, 255);
}

th, td{
  padding: 15px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-spacing: 20px;
}

footer {
    background: #093C5D;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}